@import url('https://fonts.googleapis.com/css?family=Quicksand:700&subset=latin-ext');

body {
  font-family: Quicksand, 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

#az-kviz {
  font-family: Quicksand, Arial, sans-serif;
}

#az-kviz .tile.available {
  cursor: grab;
}

#az-kviz .tile:not(.available) {
  cursor: not-allowed;
}

#az-kviz .tile text {
  alignment-baseline: middle;
  font-weight: bold;
  text-anchor: middle;
  paint-order: stroke;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

#az-kviz .tile.available:hover text {
  stroke: none;
}

#az-kviz .outer {
  stroke: #000;
}

#az-kviz .tile.available:hover .inner {
  fill: url(#hover-inner);
}

#az-kviz .tile.available:hover .outer {
  fill: url(#hover-outer);
  filter: url(#drop-shadow);
}
