@import url('https://fonts.googleapis.com/css?family=Quicksand:700&subset=latin-ext');

body {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

#az-kviz {
  font-family: Quicksand, Arial, sans-serif;
}

#az-kviz .tile {
  cursor: default;
}

#az-kviz .tile.available {
  cursor: grab;
}

#az-kviz .tile.available:hover {
  filter: url(#drop-shadow);
}

#az-kviz .tile .outer {
  stroke: #000;
}

#az-kviz .tile text {
  alignment-baseline: middle;
  font-weight: bold;
  text-anchor: middle;
  filter: url(#white-etch);
}

#az-kviz .tile.available:hover .inner {
  fill: url(#hover-inner);
}

#az-kviz .tile.available:hover .outer {
  fill: url(#hover-outer);
}
